.CreateTodoButton {
  width: 3em;
  height: 3em;
  margin-top: 1em;
  border: none;
  border-radius: 50%;
  align-self: flex-end;
  background-color: mediumblue;
  z-index: 1;
  cursor: pointer;
}

.CreateTodoButton i {
  color: #fff;
}