.TodoCounter {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-right: 12px;
  margin-left: 12px;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: 600;
  text-align: center;
}