.TodoItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;

  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16px;
  padding: 12px;

  /* background-color: #eee; */
  border-radius: 1em;

  box-shadow: 0px 5px 8px 0px #eee;
}

.TodoItem p {
  text-align: left;
  flex-grow: 2;
}

.TodoItem i {
  align-self: center;
}