.TodoItem {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 8px;

  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16px;
  padding: 12px;

  /* background-color: #eee; */
  border: 1px solid #eee;
  border-radius: 1em;

  box-shadow: 0px 5px 8px 0px #eee;
}

.TodoItem__checkbox {
  background-color: #fff;
  accent-color: green;
}

/* p element inside TodoItem */
.TodoItem__description {
  text-align: left;
  flex-grow: 2;
  font-size: 12px;
  color: #555;
  text-decoration: none;
}

.TodoItem__description--completed {
  text-decoration: line-through;
}

/* i element inside TodoItem (trash can) */
.TodoItem__delete-btn {
  align-self: center;
  cursor: pointer;
}

.TodoItem__delete-btn:hover {
  color: red;
}