.TodoSearch {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 12px; */
}

.TodoSearch input {
  
  font-size: 12px;
  padding: 12px;
  border-radius: 1em;
  border: none;
  background-color: #eee;
}

.TodoSearch i {
  /* position: relative;
  left: -24px; */
  padding: 12px;
  cursor: pointer;
}